$parentWidth: 800px;
.circle{
  font-size: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.chess-board{
  width: 85vmin;
  height: 85vmin;
  border: solid 5px black;
}
.container-fluid{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square{
  width: 12.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &.selected{
    background: cyan;
  }
  &.white{
    background: ivory;
  }
  &.black{
    background: url("/assets/wood-texture.jpg");
  }
}
//@media (max-width: 800px){
//	.chess-board{
//		width: 600px;
//		height: 600px;
//	}
//
//}
